
<ion-content>
  <div class="fondo">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <ion-card>
    <ion-card-header>
      <ion-row>
          <ion-col>
            <p class="ion-text-center"><img src="./assets/imagenes/logo-paypal.svg" width="70px" height="70px" ></p>
          </ion-col>
      </ion-row>
  </ion-card-header>
    <ion-card-contend>
      
      <h1 class="ion-text-center" color="dark">Cierra esta ventana para proceder a confirmar o rechazar el pago, Gracias.</h1>
      

    </ion-card-contend>
  </ion-card>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</ion-content>

