<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Operaciones</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="contaier-monto">

        <ion-button (click)="cierre()" color="warning" fill="solid" expand="full">
            Ejecutar Cierre del dia
        </ion-button>

        <ion-button (click)="solicitudPago()" color="warning" fill="solid" expand="full">
            solicitar pago
        </ion-button>

        <ion-card>
            <ion-card-header>
                <h2>Reintegros solicitados</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegroActivo of reintegrosActivos">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            <h1>
                                $ {{reintegroActivo.monto}}
                            </h1>
                            <h2>
                                Fecha: {{reintegroActivo.fecha.day}}-{{reintegroActivo.fecha.month}}-{{reintegroActivo.fecha.year}}
                            </h2>

                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Reintegros Cancelados</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegroCancelado of reintegrosCancelados">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            <h1>
                                $ {{reintegroCancelado.monto}}
                            </h1>
                            <h2>
                                Fecha: {{reintegroCancelado.fecha.day}}-{{reintegroCancelado.fecha.month}}-{{reintegroCancelado.fecha.year}}
                            </h2>

                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Reintegros Exitosos</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegroExitoso of reintegrosExitosos">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>

                            <h1>
                                $ {{reintegroExitoso.monto}}
                            </h1>
                            <h2>
                                Fecha: {{reintegroExitoso.fecha.day}}-{{reintegroExitoso.fecha.month}}-{{reintegroExitoso.fecha.year}}
                            </h2>

                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>



    </div>


</ion-content>