<div *ngIf="s_comision.show">
    <br>
    <div class="section-title" data-aos="fade-up">
        <h2>Establecer Comision</h2>
    </div>
    <div class="form-signin">
        <label>Comercio</label>
        <select class="form-control">
            <option>Usuario 1</option>
            <option>Usuario 2</option>
            <option>Usuario 3</option>
            <option>Usuario 4</option>
        </select>

        <label>Comision</label>
        <select class="form-control">
            <option>100</option>
            <option>200</option>
            <option>500</option>
            <option>1000</option>
            <option>3000</option>
            <option>5000</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Establecer Comision</button>

    </div>
</div>