<ion-header [translucent]="true">
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button defaulHref="/tabs/operaciones"></ion-back-button>
        </ion-buttons>
        
        <ion-title>
            <ion-item>
            <h1 class="ion-text-center"><strong> Operaciones del dia</strong></h1>
            <ion-icon name="calendar-outline" color="dark"></ion-icon>
        </ion-item>
        </ion-title>
        
    
    </ion-toolbar>
</ion-header>

<ion-content>



    <div class="contaier-monto">

        <ion-card>
            <ion-card-header>
                <strong><ion-text color="tertiary"><h1 class="ion-text-center">Pagos</h1></ion-text></strong>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item >
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            <strong>Pago:</strong> {{idOperacion}}
                            <h2>
                                <strong>Monto:</strong>
                                {{monto}}
                            </h2>
                        
                            <h2>
                                <strong>Referencia:</strong>
                                {{referencia}}
                            </h2>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</ion-content>