<app-top-nav></app-top-nav>
<div class="wrapper">
  <div class="row">
    <app-side-nav></app-side-nav>
    <div class="container">
      <app-perfil></app-perfil>
      <app-configuraciones></app-configuraciones>
      <app-admin-usuarios></app-admin-usuarios>
      <app-grupo-familiar></app-grupo-familiar>
      <app-tabla-movimientos></app-tabla-movimientos>
      <app-productos></app-productos>
      <app-agregar-cuenta></app-agregar-cuenta>
      <app-agregar-tarjeta></app-agregar-tarjeta>
      <app-reportes></app-reportes>
      <app-edit-user></app-edit-user>
      <app-retirar-form></app-retirar-form>
      <app-establecer-limite></app-establecer-limite>
      <app-establecer-comision></app-establecer-comision>
      <app-add-familiar></app-add-familiar>
    </div>
  </div>
</div>