  <main id="main">
    <br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Sobre Nosotros</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img src="../../../assets/img/Portal.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Tu herramienta para gestionar tu dinero. ¡Fácil y sencillo!</h3>
            <p class="font-italic">
              Administrar tus pagos y activos nunca ha sido tan simple
            </p>
            <ul>
              <li><i class="icofont icofont-check-circled"></i> Configura tus limites diarios.</li>
              <li><i class="icofont icofont-check-circled"></i> Establece comisiones.</li>
              <li><i class="icofont icofont-check-circled"></i> Realiza y solicita pagos.</li>
              <li><i class="icofont icofont-check-circled"></i> Retira tu dinero desde cualquiera de nuestros productos.</li>
              <li><i class="icofont icofont-check-circled"></i> Paga con Paypal y Stripe.</li>
              <li><i class="icofont icofont-check-circled"></i> Uso personal o como comercio</li>
            </ul>
            <p>
              Al hacer uso de nuestros servicios, estas aceptando nuestros <a href="#"> términos y condiciones </a>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Productos</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4>Portal Web</h4>
              <p>Maneja tus cuentas desde la comodidad de tu computadora. Bloquea pagos. Agrega cuentas bancarias y tarjetas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Post Virtual</h4>
              <p>Solicita pagos tanto como a personas como a negocios. Recibe notificaciones cuando te hagan un pago.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4>Monedero</h4>
              <p>Gestiona tus cuentas y tarjetas desde una sola aplicación donde quiera que estés</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 offset-md-6 footer-contact ">
            <h4>Contacto</h4>
            <p>
              Final Av. Teherán, <br>
              Urb. Montalbán, <br>
              Caracas 1020 Apdo. 20.332,<br>
              Venezuela <br>
              <strong>Teléfono:</strong> +58 (0212)407-61-23<br>
              <strong>Email:</strong> contacto@monyucab.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Sobre Nosotros</h3>
            <p>Herramienta para manejar sus pagos, cuentas y mucho más</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Monyucab</span></strong>. Derechos reservados
      </div>
    </div>
  </footer><!-- End Footer -->
