<div *ngIf = "s_movimientos.show" >
    <br>
    <div class="section-title" data-aos="fade-up">
        <h2>Movimientos</h2>
    </div>

    <br>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>REF</th>
                <th>Fecha</th>
                <th>Monto (Bs.)</th>
                <th>Tipo operación</th>
                <th>Estatus</th>
            </tr>

            <tr *ngFor = "let movimiento of movimientosCuenta">
                <td>{{movimiento.referencia}}</td>
                <td>{{fechaToString(movimiento.fecha)}}</td>
                <td>{{movimiento.monto}}</td>
                <td>Cobro Activo</td>
                <td>{{movimiento.estatus}}</td>
            </tr>

            <tr *ngFor = "let cobroExitoso of cobrosExitosos">
                <td>{{cobroExitoso.referencia}}</td>
                <td>{{fechaToString(cobroExitoso.fecha)}}</td>
                <td>{{cobroExitoso.monto}}</td>
                <td>Cobro Exitoso</td>
                <td>{{cobroExitoso.estatus}}</td>
            </tr>

            <tr *ngFor = "let cobroCancelado of cobrosCancelados">
                <td>{{cobroCancelado.referencia}}</td>
                <td>{{fechaToString(cobroCancelado.fecha)}}</td>
                <td>{{cobroCancelado.monto}}</td>
                <td>Cobro Cancelado</td>
                <td>{{cobroCancelado.estatus}}</td>
            </tr>


            <tr *ngFor = "let reintegroActivo of reintegrosActivos">
                <td>{{reintegroActivo.referencia}}</td>
                <td>{{fechaToString(reintegroActivo.fecha)}}</td>
                <td>{{reintegroActivo.monto}}</td>
                <td>Reintegro Activo</td>
                <td>{{reintegroActivo.estatus}}</td>

            </tr>

            <tr *ngFor = "let reintegroExitoso of reintegrosExitosos">
                <td>{{reintegroExitoso.referencia}}</td>
                <td>{{fechaToString(reintegroExitoso.fecha)}}</td>
                <td>{{reintegroExitoso.monto}}</td>
                <td>Reintegro Exitoso</td>
                <td>{{reintegroExitoso.estatus}}</td>

            </tr>

            <tr *ngFor = "let reintegroCancelado of reintegrosCancelados">
                <td>{{reintegroCancelado.referencia}}</td>
                <td>{{fechaToString(reintegroCancelado.fecha)}}</td>
                <td>{{reintegroCancelado.monto}}</td>
                <td>Reintegro Cancelado</td>
                <td>{{reintegroCancelado.estatus}}</td>

            </tr>

        </thead>
    </table>

    <div class="row float-right">
        <div class="form-row">
            <div class="col-12">
                <label for="saldo"><h6>Saldo (Bs.)</h6></label>
                <input type="text" class="form-control" id="saldo" [value] ="saldo" disabled >
            </div>
        </div>

    </div>
</div>