<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <h4 class="ion-text-center"><strong>Operaciones</strong></h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="contaier-monto">

        <ion-card>
            <ion-card-header>
                <h2>Operaciones del monedero</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let monedero of monederos"
                        [routerLink]="['/tabs/operaciones/monedero', monedero.idOperacionMonedero]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <div *ngIf="monedero.infoAdicional">
                            <div *ngIf="monedero.infoAdicional.operacionTarjeta">
                                <div *ngIf="monedero.infoAdicional.tipoOperacion">
                                    <div *ngIf="monedero.infoAdicional.tipoOperacion.idTipoOperacion === 1
                                        || monedero.infoAdicional.tipoOperacion.idTipoOperacion === 3">
                                        <ion-label>
                                            <h1>
                                                $ -{{monedero.infoAdicional.operacionTarjeta.monto}}
                                            </h1>
                                            <h2>
                                                Fecha:
                                                {{monedero.fecha.day}}/{{monedero.fecha.month}}/{{monedero.fecha.year}}
                                            </h2>
                                        </ion-label>
                                    </div>
                                    <div *ngIf="monedero.infoAdicional.tipoOperacion.idTipoOperacion === 5
                                        || monedero.infoAdicional.tipoOperacion.idTipoOperacion === 2">
                                        <ion-label>
                                            <h1>
                                                $ +{{monedero.infoAdicional.operacionTarjeta.monto}}
                                            </h1>
                                            <h2>
                                                Fecha:
                                                {{monedero.fecha.day}}/{{monedero.fecha.month}}/{{monedero.fecha.year}}
                                            </h2>
                                        </ion-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="monedero.infoAdicional">
                            <div *ngIf="monedero.infoAdicional.operacionCuenta">
                                <div *ngIf="monedero.infoAdicional.tipoOperacion">
                                    <div *ngIf="monedero.infoAdicional.tipoOperacion.idTipoOperacion === 1
                                        || monedero.infoAdicional.tipoOperacion.idTipoOperacion === 3">
                                        <ion-label>
                                            <h1>
                                                $ -{{monedero.infoAdicional.operacionCuenta.monto}}
                                            </h1>
                                            <h2>
                                                Fecha:
                                                {{monedero.fecha.day}}/{{monedero.fecha.month}}/{{monedero.fecha.year}}
                                            </h2>
                                        </ion-label>
                                    </div>
                                    <div *ngIf="monedero.infoAdicional.tipoOperacion.idTipoOperacion === 5
                                        || monedero.infoAdicional.tipoOperacion.idTipoOperacion === 2">
                                        <ion-label>
                                            <h1>
                                                $ +{{monedero.infoAdicional.operacionCuenta.monto}}
                                            </h1>
                                            <h2>
                                                Fecha:
                                                {{monedero.fecha.day}}/{{monedero.fecha.month}}/{{monedero.fecha.year}}
                                            </h2>
                                        </ion-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>


        <ion-card>
            <ion-card-header>
                <h2>Operaciones de cuentas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let ocuentas of operaciones"
                        [routerLink]="['/tabs/operaciones', ocuentas.idOperacionCuenta]">
                        <!--<ion-footer *ngIf=" ocuentas.idCuenta === 1 || ocuentas.idCuenta === 2" no-border>-->
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            <h1>
                                $ - {{ocuentas.monto}}
                            </h1>
                            <h2>
                                Fecha: {{ocuentas.fecha.day}}/{{ocuentas.fecha.month}}/{{ocuentas.fecha.year}}
                            </h2>
                        </ion-label>
                        <!--</ion-footer> -->
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h2>Operaciones de tarjetas</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <!-- [routerLink]="['/tabs/operaciones/tarjeta', tarjeta.idOperacionTarjeta]" -->
                    <ion-item *ngFor="let tarjeta of otarjetas" (click)="test($event, tarjeta)">
                            <ion-icon slot="start" name="reader-outline"></ion-icon>
                            <ion-label>
                                <h1>
                                    $ +{{tarjeta.monto}}
                                </h1>
                                <h2>
                                    Fecha: {{tarjeta.fecha.day}}/{{tarjeta.fecha.month}}/{{tarjeta.fecha.year}}
                                </h2>
                            </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h2>Operaciones de reintegro</h2>
            </ion-card-header>
            <ion-card-contend>
                <ion-list>
                    <ion-item *ngFor="let reintegro of reintegros"
                        [routerLink]="['/tabs/operaciones/reintegro', reintegro.idreintegro]">
                        <ion-icon slot="start" name="reader-outline"></ion-icon>
                        <ion-label>
                            Estatus: {{reintegro.estatus}}
                            <h2>
                                Fecha: {{reintegro.fecha_solicitud.split('T', 1 )}}
                            </h2>
                        </ion-label>

                    </ion-item>
                </ion-list>
            </ion-card-contend>
        </ion-card>

    </div>


</ion-content>