<div *ngIf = "s_reportes.show">

    <br>
    <div class="section-title" data-aos="fade-up">
        <h2>Reportes</h2>
    </div> 

    <h4>Cantidad de operaciones realizadas</h4 >
    <div class="col d-flex justify-content-center">  
        <div class="card-columns d-flex">
            <div class="card border-success mr-3">
                <div class="card-header bg-transparent border-success">Cantidad de opeaciones realizadas</div>
            <div class="card-body">
                <p class="card-text">
                    <span>Pagos: </span>
                    <br>
                    <span>Recargas: </span>
                    <br>
                    <span>Reintegros: </span>
                    <br>
                    <span>Cobros: </span>
                    <br>
                </p>
                </div>
            </div>
        </div> 
    </div>

    <hr>
    <h4>Monto total recaudado en comisiones</h4>
    <br>
    
    <hr>
    <h4>Operaciones Fallidas</h4>
    <br>

    <hr>
    <h4>Operaciones de cobro pendientes</h4>
    <br>

    <hr>
    <h4>Operaciones de retiro</h4>

</div>
