<ion-header>
  <ion-toolbar>
    <ion-title>Paypal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-row>
            <ion-col>
                <p class="ion-text-center"><ion-icon name="wallet-outline" color="dark" class="icon"></ion-icon></p>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-contend>
      
        <form  (submit)="onSubmit()">
            <ion-item>
                <strong><ion-label position="fixed">atributo 1</ion-label></strong>
                <ion-input [(ngModel)]="cobro.emailPagador" name="user"></ion-input>
            </ion-item>
            <ion-item>
                <strong><ion-label position="fixed">atributo 2</ion-label></strong>
                <ion-input [(ngModel)]="cobro.monto" type="number" name="monto">$</ion-input>
            </ion-item>
            <ion-button type="submit" fill="solid"  expand="block" color="success">
                Realizar <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
        </form>

    </ion-card-contend>
  </ion-card>
</ion-content>
