<ion-header  [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulHref="/tabs/operaciones"></ion-back-button>
</ion-buttons>

    <ion-title>
      <ion-item>
      <h1 class="ion-text-center" color="dark"><strong>Stripe</strong></h1>
      <ion-icon name="cash-outline" color="dark"></ion-icon>
    </ion-item>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <ion-card>
    <ion-card-header>
        <ion-row>
            <ion-col>
              <p class="ion-text-center"><img src="./assets/imagenes/logo-stripe.svg" width="120px" height="120px" ></p>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-contend>
      
        <form  (submit)="onSubmit()">

          <strong><ion-text color="tertiary"> <h1 class="ion-text-center">Monto (sin impuestos):</h1></ion-text></strong>
          <ion-text color="dark"> <h2 class="ion-text-center" >$ {{costo}}</h2></ion-text>
            <ion-item>
                <strong><ion-label position="fixed">Estado: </ion-label></strong>
                <ion-input  name="user1"></ion-input>
            </ion-item>
            <ion-item>
              <strong><ion-label position="fixed">Ciudad: </ion-label></strong>
              <ion-input name="user2"></ion-input>
          </ion-item>
            <ion-item>
              <strong><ion-label position="fixed">Direccion: </ion-label></strong>
              <ion-input name="user3"></ion-input>
          </ion-item>
          <ion-item>
            <strong><ion-label position="fixed">Direccion(cont): </ion-label></strong>
            <ion-input name="user4"></ion-input>
          </ion-item>
          <ion-item>
              <strong><ion-label position="fixed">Cod. Postal: </ion-label></strong>
              <ion-input  name="user5"  type="number"></ion-input>
          </ion-item>
          <ion-item>
            <strong><ion-label position="fixed">Telefono: </ion-label></strong>
            <ion-input  name="user6"  type="number"></ion-input>
        </ion-item>
             
            <ion-button  (click)="Pago()" fill="solid"  expand="block" color="success">
              Enviar <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </form>

    </ion-card-contend>
  </ion-card>
  </div>
</ion-content>
