<div *ngIf = "s_admin_usuarios.show">
    <br>
    <h1 class="display-4">Administrar Usuarios</h1>
    <hr>    
    
    <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Identificación</th>
                  <th scope="col">Email</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tal</td>
                  <td>Tal</td>
                  <td>Tal</td>
                  <td>Tal</td>
                  <td>
                    <button type="button" class="btn btn-danger">
                      <i class="fa fa-ban fa-2x"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>