<div *ngIf = "s_add_familiar.show">
    <div>  
        <br> 
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Registro de Familiar</h2>
          </div>
          <form [formGroup]="formPersona">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Nombre (*)</label>
                <input type="text" class="form-control" formControlName="nombre">
              </div>
        
              <div class="form-group col-md-6">
                <label>Apellido (*)</label>
                <input type="text" class="form-control" formControlName="apellido">
              </div>
            </div>
        
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Fecha de Nacimiento (*)</label>
                <input class="form-control" type="date" formControlName="fechaNac">
              </div>
              <div class="form-group col-md-6">
                <label>Estado Civil (*)</label>
                <select class="form-control" required formControlName="estadoCivil">
                  <option value="1">Soltero</option>
                  <option value="2">Casado</option>
                </select>
              </div>
            </div>
          </form>
        </div>
    </div>
       
    <div>
    <div class="container">
        <br>
        <hr>
        <br>
    <form [formGroup]="formUsuario">
        
        <div class="form-row">
        <div class="form-group col-md-1">
            <label>Tipo (*)</label>
            <select class="form-control" formControlName="tipoId">
            <option value="1" selected>J</option>
            <option value="2">E</option>
            <option value="3">V</option>
            <option value="4">P</option>
            </select>
        </div>
    
        <div class="form-group col-md-3">
            <label>Número Identificación (*)</label>
            <input type="text" class="form-control" formControlName="numeroId">
        </div>
    
        <div class="form-group col-md-4">
            <label>Teléfono (*)</label>
            <input type="text" class="form-control" formControlName="telefono">
        </div>
    
        <div class="form-group col-md-4">
            <label>Email (*)</label>
            <input type="text" class="form-control" formControlName="correo" >
        </div>
        </div>
    
        <div class="form-row">
        <div class="form-group col-md-12">
            <label>Dirección (*)</label>
            <input type="text" class="form-control" formControlName="direccion">
        </div>
        </div>
    
        
        <div class="form-row">
        <div class="form-group col-md-4">
            <label>Usuario (*)</label>
            <input type="text" class="form-control"  formControlName="usuario">
        </div>
        
        <div class="form-group col-md-4">
            <label>Contraseña (*)</label>
            <input type="password" class="form-control" formControlName="contra">
        </div>
    
        <div class="col-md-4">
            <br>
            <p>Mínimo 8 caracteres debe incluir una mayúscula, un número e incluir algo de estos #?!@$%^&*-</p>
        </div>
        </div>
    </form>
    
        <span>* Obligatorios</span>
        <button class="btn btn-primary float-right" type="submit" 
        [disabled] = "(formPersona.invalid && formUsuario.invalid)"
        (click) = "enviar()">Registrarse</button>
    </div>
    
    </div>
</div>